@using IryTech.AdmissionJankari.BO
@using IryTech.AdmissionJankari.Components
<html>

<head>
    <title>Change Password</title>
</head>

<body>
    <div style='font-size: 13px; border: solid 1px #7f9db9;margin:5px; color: #666666; font-family: Arial, Verdana'>
        <div style='padding-left:15px; padding-bottom:10px; text-align:left; background-color:#3b5998; padding-top:9px;'>
            <a href='http://AdmissionJankari.com/' style='text-decoration: none'><span style='font-weight:bold; font-size:18px; color:white;font-family:Arial'>AdmissionJankari</span></a>
        </div>
        <br /><div style='padding-left:15px; padding-bottom:10px;'>
            Dear " + " " + @ObjPageBase.LoggedInUserName + "<br /><br />We are happy to inform you that your password has been successfully changed.
            <br /> <br />Your new password is:<strong style='font-size: 13px; color: black;'>
                @Registation.Password
        </strong><br /><br />click <strong>
            <a href='@ClsCommon.WebUrl@Registation.ValidationKey'>
                here
            </a>
        </strong> to visit your account. <br /><br /><br />If you feel you haven’t changed your password then do let us know by forwarding this email to <a href='info@orderramukaka.com' style='text-decoration: none'>info@admissionjankari.com</a> and letting us know in one liner. <br /><br /><br /> <strong>
            Thanks & Regards,<br />
            AdmissionJankari
        </strong><br /> <a href='info@orderramukaka.com' style='text-decoration: none'>
            admissionjankari.com
        </a>
        <a href='http://www.admissionjankari.com/' style='text-decoration: none'> <br /><strong> Helpline Number:" + @ClsCommon.HelpLineNo + "</strong>
    </div>
</div>
</body>
</html>
