@using IryTech.AdmissionJankari.BO;
@using IryTech.AdmissionJankari.BL;
<html>

<head>
    <title>Forget Password</title>
</head>
<body>

    <div style='font-size: 13px; border: solid 1px #7f9db9; color: #666666; margin:5px; font-family: Arial, Verdana'>
        <div style='padding-left:15px; padding-bottom:10px; text-align:left; background-color:#3b5998; padding-top:9px;'>
            Admissionjankari
        </div>
        As requested please find your password below.

        <br /> <br />Your password is:<strong>
            9015846906
            <br /><br />To login  click <a href=@Common.WebUrl>
                here

            </a>
        </strong> to visit your account or alternatively to place your order you can also call
        us directly on " + @Common.HelpLineNo + " <br /><br />  Wish you happy shopping with us <br /><br /> <br /> <strong>
            Thanks & Regards,<br />
            Admissionjankari
        </strong><br />Admissionjankari<a href='http://www.admissionjankari.com/' style='text-decoration: none'><strong><i>.com</i></strong> <br /><strong> Helpline Number:" + @Common.HelpLineNo + "</strong>
    </div>

</body>
</html>
